<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="never">

    <title>Pixiv</title>

    <!-- Styles -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/app.css" rel="stylesheet">
</head>
<body>
    <div id="hiddenDiv">
        <modal id="confirmModal" ref="confirm" @onconfirm="confirm"></modal>
    </div>
    <div id="app" class="">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="javascript:void(0);">
                        {{ headText }}
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <!--ul class="nav navbar-nav">
                        &nbsp;
                    </ul-->

                    <ul class="nav navbar-nav navbar-right">
                        <li v-for="(nav,index) in navs" class="nav-item">
                            <a class="nav-link text-dark" :href="nav.link" @click="nav.onclick(index)">{{ nav.name }}</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <profile ref="profile" :visible="profileVisible" :user="user" @ontryfollow="tryFollow" @ontryunfollow="tryUnFollow" ></profile>
        <listandcarousel ref="listandcarousel" :imgs="imgs" :enablepageindicator="false" @onslidestart="slideStart" @onslideend="slideEnd"></listandcarousel>

        <div id="detail" v-if="detailVisible" class="container">
            <ul class="list-group">
                <li class="list-group-item">名称：{{ illust.title }}</li>
                <li class="list-group-item">数量：{{ illust.count }}</li>
                <li class="list-group-item">描述：{{ illust.description }}</li>
                <li class="list-group-item">收藏：{{ illust.bookmarkCount }}</li>
                <li class="list-group-item">喜欢：{{ illust.likeCount }}</li>
                <li class="list-group-item">浏览：{{ illust.viewCount }}</li>
                <li class="list-group-item">标签：{{ illust.tags.join(',') }}</li>
            </ul>

            <button class="btn btn-block" :disabled="illust.liked" :class="{'btn-primary':illust.liked}" @click="switchLikeState">{{ illust.liked ? '已赞' : '赞' }}</button>
            <button class="btn btn-block" :class="{'btn-primary':illust.bookmarked}" @click="switchBookmarkState">{{ illust.bookmarked ? '已收藏' : '添加收藏' }}</button>

            <br />

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">评论</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li v-for="(comment, index) in comments" class="list-group-item">
                            <div v-if="comment.isEmoji" class="thumbnail" style="border: 0; margin: 0;">
                                <img :src="getEmojiUrlById(comment.text)">
                            </div>
                            <div v-else>
                                <p class="centerp" style="color: blue;font-weight: bolder;">{{ comment.text }}</p>
                            </div>
                            <p class="centerp">{{ comment.user.name }}</p>
                            <p class="centerp">{{ comment.time }}</p>
                        </li>
                    </ul>
                    <button class="btn btn-block btn-primary" :disabled="!hasMoreComments" @click="moreComments">更多</button>
                </div>
            </div> 

        </div>

        <br />
        
    </div>

    <!-- Scripts -->
    <script src="./js/config.js"></script>
    <script src="./js/config-carousel-extend.js"></script>
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/vue-resource.min.js"></script>
    <script src="./js/vue-components/modal.js"></script>
    <script src="./js/vue-components/profile.js"></script>
    <script src="./js/vue-components/list.js"></script>
    <script src="./js/vue-components/carousel.js"></script>
    <script src="./js/vue-components/listandcarousel.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/auth.js"></script>
    <script src="./js/api.js"></script>

    <script>
        
window.onload = function() {
    redirectToLoginPageIfNoCookies();

    var confirmHandler = function() {};
    var hiddenDiv = new Vue({
        el: '#hiddenDiv',
        methods: {
            confirm: function() {
                confirmHandler();
                confirmHandler = function() {};
            },
            getModal: function() {
                return this.$refs.confirm;
            }
        },
    });

    var ajaxErrorHandler = function(res) {
        redirectToLoginPageIfCookiesExpired(res);
        var newline = '<br />';
        var title = '[' + res.status + ']' + res.statusText;
        var body = 'URL=' + res.url + newline;
        body += 'Message=' + res.body.Message;
        confirmHandler = function() {};
        hiddenDiv.$refs.confirm.show(title, body);
    };

    var query = getQueryParams();
    var illustId = query.id;
    console.log('illustId', illustId);

    var isLoadingComments = false;
    
    var headText = config.defaultHeadText;
    var navs = config.defaultNavs;
    navs.push(switchDisplayModeNav);
    var app = new Vue({
        el: '#app',
        data: {
            headText: config.defaultHeadText,
            illustId: illustId,
            navs: navs,
            imgs: [
            ],
            user: {
                id: '',
                avatar: '',
                follow: false,
                href: '',
                name: '',
            },
            illust: {
                id: '',
                title: '',
                bookmarkId: '',
                bookmarked: false,
                liked: false,
                count: 0,
                description: '',
                bookmarkCount: 0,
                likeCount: 0,
                viewCount: 0,
                tags: [],
            },
            comments: [
            ],
            commentsOffset: 0,
            commentsLimit: config.defaultCommentsPerPageCount,
            profileVisible: true,
            detailVisible: true,
            hasMoreComments: true,
        },
        methods: {
            init: function() {
                this.loadIllust(this.illustId);
            },
            getPlayer: function() {
                return this.$refs.listandcarousel;
            },
            loadIllust: function(illustId) {
                this.headText = '加载中...';
                this.imgs = [];
                var params = mergeObj(getBasePostParams(), {
                    illustId: illustId,
                });
                this.$http.post(config.getIllustInfoApiUrl(), params, {emulateJSON:true}).then(function(res) {
                    var json = res.body;
                    var illust = json.illust;
                    var user = illust.user;
                    user.href = config.getUserIllustsPageUrl(user.id);
                    this.user = user;
                    this.illust = illust;
                    var urls = json.urls;
                    var imgs = [];
                    urls.forEach((i, index) => {
                        imgs.push({
                            href: i,
                            src: i,
                            title: index + 1,
                        })
                    });
                    this.imgs = imgs;
                    headText = '[作品]';
                    this.headText = headText;
                }, ajaxErrorHandler);
                this.hasMoreComments = true;
                this.moreComments();
            },
            loadComments: function(illustId, offset, limit) {
                var that = this;
                if (isLoadingComments) {
                    console.log('有加载评论的任务正在进行');
                    return;
                }
                isLoadingComments = true;
                pixiv.api.getComments(illustId, offset, limit, function(res) {
                    var json = res.body;
                    var comments = json.comments;
                    for (var i = 0; i < comments.length; i++) {
                        that.comments.push(comments[i]);
                    }
                    that.commentsOffset += that.commentsLimit;
                    that.hasMoreComments = json.hasNext;

                    isLoadingComments = false;
                }, ajaxErrorHandler);
            },
            moreComments: function() {
                this.loadComments(this.illustId, this.commentsOffset, this.commentsLimit);
            },
            getEmojiUrlById: function(emojiId) {
                return config.getEmojiUrlById(emojiId);
            },
            slideStart: function() {
                this.headText = '翻页中...';
            },
            slideEnd: function() {
                this.headText = headText;
            },
            switchDisplayMode: function() {
                this.profileVisible = !this.profileVisible;
                this.detailVisible = !this.detailVisible;
                this.getPlayer().switchDisplayMode();
            },
            resetList() {
                this.getPlayer().resetList();
            },
            tryFollow(userId) {
                console.log('follow', userId);
                if (!userId) return;
                var that = this;
                this.headText = '关注中...';
                pixiv.api.followUser(userId, function (res) {
                    that.user.follow = true;
                    that.headText = headText;
                }, ajaxErrorHandler);
            },
            tryUnFollow(userId, userName) {
                console.log('unfollow', userId, userName);
                if (!userId) return;
                var that = this;
                confirmHandler = function() {
                    that.headText = '取消关注中...';
                    pixiv.api.unFollowUser(userId, function (res) {
                        that.user.follow = false;
                        that.headText = headText;
                }   , ajaxErrorHandler);
                };
                hiddenDiv.getModal().show('取消关注', '你确定要取消关注' + userName + '吗?');
            },
            //不能取消点赞
            switchLikeState() {
                var illust = this.illust;
                if (!illust.id) return;
                if (!illust.liked)
                    this.like(illust.id);
            },
            like(illustId) {
                console.log('like', illustId);
                if (!illustId) return;
                var that = this;
                this.headText = '点赞中...';
                pixiv.api.likeIllust(illustId, function (res) {
                    that.illust.liked = true;
                    that.headText = headText;
                }, ajaxErrorHandler);
            },
            switchBookmarkState() {
                var illust = this.illust;
                if (!illust.id) return;
                if (illust.bookmarked)
                    this.unBookmarkIllust(illust.bookmarkId, illust.title);
                else
                    this.bookmarkIllust(illust.id);
            },
            bookmarkIllust(illustId) {
                console.log('bookmarkIllust', illustId);
                if (!illustId) return;
                var that = this;
                this.headText = '收藏中...';
                pixiv.api.bookmarkIllust(illustId, function (res) {
                    var newbookid = res.body;
                    that.illust.bookmarkId = newbookid;
                    that.illust.bookmarked = true;
                    that.headText = headText;
                }, ajaxErrorHandler);
            },
            unBookmarkIllust(bookid, illustName) {
                console.log('unBookmarkIllust', bookid, illustName);
                if (!bookid) return;
                var that = this;
                confirmHandler = function() {
                    that.headText = '取消收藏中...';
                    pixiv.api.unBookmarkIllust(bookid, function (res) {
                        that.illust.bookmarked = false;
                        that.headText = headText;
                }   , ajaxErrorHandler);
                };
                hiddenDiv.getModal().show('取消收藏', '你确定要取消收藏作品' + illustName + '吗?');
            }
        },
        mounted: function() {
            this.$nextTick(function() {
                this.init();
            });
        },
    });
    window.app = app;

}
    </script>

</body>
</html>